<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Nuevo correo enviado desde el sitio de Target</h1>
    <ul>
        <li><strong>Nombre: </strong>{{name}}</li>
        <li><strong>Teléfono: </strong>{{phone}}</li>
        <li><strong>Correo: </strong>{{email}}</li>
        <li><strong>Mensaje: </strong>{{message}}</li>
    </ul>
</body>
</html>