<template>
    <div>
        <div class="modal fade" id="modal-trabajo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-end">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="delete_src()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <img v-if="urlImage" :src="urlImage" class="img-fluid">
                        <div v-if="youtube" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" :src="youtube" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Registro Enviado</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                            <p>Gracias por habernos enviado tu mensaje, te contactaremos lo más pronto posible</p>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props:['urlImage','youtube'],
        methods:{
            delete_src(){
                if(this.youtube){
                    document.querySelector('.embed-responsive iframe').setAttribute('src','');
                }
            }
        }
    }
</script>