<template>
<div class="clientes my-5" id="clientes">
    <div class="container">
        <div class="row">
            <template v-for="(cliente,index) in clientes">
                 <div class="col-sm-6 col-md-4 col-lg-3 wow slideInUp" :data-wow-delay="(0.6+(index*2))">
                    <img :src="cliente.urlBrand" class="img-fluid my-3 gray-hover d-block mx-auto" :alt="cliente.titulo">
                </div>
            </template>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        data(){
            return{
                clientes:[
                    {titulo: 'Claro',
                        urlBrand:'./src/assets/clientes/claro.png'},
                    {titulo: 'Excel',
                        urlBrand:'./src/assets/clientes/excel.png'},
                    {titulo: 'Ficohsa',
                        urlBrand:'./src/assets/clientes/ficohsa.png'},
                    {titulo: 'Airpak',
                    urlBrand:'./src/assets/clientes/airpak.png'},
                    {titulo: 'Cashpak',
                    urlBrand:'./src/assets/clientes/cashpak.png'},
                    {titulo: 'Western Union',
                        urlBrand:'./src/assets/clientes/western.png'},
                    {titulo: 'Delisoya',
                    urlBrand:'./src/assets/clientes/delisoya.png'},
                    {titulo: 'Discover',
                    urlBrand:'./src/assets/clientes/discover.png'},
                    {titulo: 'Ford',
                    urlBrand:'./src/assets/clientes/ford.png'},
                    {titulo: 'Friday',
                    urlBrand:'./src/assets/clientes/friday.png'},
                    {titulo: 'Honda',
                    urlBrand:'./src/assets/clientes/honda.png'},
                    {titulo: 'Hyundai',
                    urlBrand:'./src/assets/clientes/hyundai.png'},
                    {titulo: 'Macen',
                    urlBrand:'./src/assets/clientes/macen.png'},
                    {titulo: 'Mazda',
                    urlBrand:'./src/assets/clientes/mazda.png'},
                    {titulo: 'Mitsubishi',
                    urlBrand:'./src/assets/clientes/mitsubishi.png'},
                    {titulo: 'Sasa',
                    urlBrand:'./src/assets/clientes/sasa.png'},
                ]
            }
        }
    }
</script>