<template>
    <div class="mapa ">
        <gmap-map
                :center="{lat:12.100944, lng:-86.262781}"
                :zoom="16"
                :options="{scrollwheel:false}"
                map-type-id="roadmap"
                style="width: 100%; height: 400px"
        >
            <gmap-marker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    :icon = 'm.icon'
            ></gmap-marker>
        </gmap-map>
        <div class="informacion">
            <div class="container">
                <div class="row d-flex flex-column">
                    <h2 class="white-text"><strong>{{info.titulo}}</strong></h2>
                    <ul class="mt-2 flex-row">
                        <li class="mb-3 white-text">
                            <i class="fa fa-phone"></i> {{info.telefono}}
                        </li>
                        <li class="mb-3 white-text">
                            <i class="fa fa-envelope"></i> {{info.email}}
                        <li class="mb-3 white-text">
                            <i class="fa fa-map-marker"></i> {{info.direccion}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return{
                markers:[
                    {
                        position:{lat:12.100993,lng:-86.262777},
                        icon:'./src/assets/mapapin.png',
                    },
                ],
                info:{
                    titulo:'CONTÁCTANOS',
                    telefono:'+505 2278 0811',
                    email:'info@target.com.ni',
                    direccion:'Discover Bussines Center 2c. Cuarto Piso Villa Fontana - Managua, Nicaragua',
                }
            }
        }
    }
</script>