<template>
    <footer class="d-flex justify-content-between align-items-center flex-wrap grey p-3 mt-5">
        <img src="/src/assets/logo-grey.png" class="img-fluid" width="300">
        <span class="white-text">©2017 / Target Ogilvy & Mather Nicaragua Todos los derechos reservados</span>
    </footer>
</template>