body{
  overflow-x: hidden;
}
.main-banner{
  background-image: url("assets/grupo.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  .banner{
      opacity: 0;
   }
    .red-line{
      height: 3px;
      width: 100%;
      background: red;
    }
  .trabajo{
    bottom: 0;
    margin: 0 auto;
    img{
      width: 70%;
    }
  }
  .badge{
    @media screen and (max-width: 548px){
      bottom: 150px;
    }
    bottom: 20px;
    right: 20px;
  }
  .label{
    background: black;
    color: white;
    padding: 10px 30px;
    @media screen and (max-width: 548px){
      bottom: 300px;
    }
    bottom: 200px;
    opacity: 0;
  }
}

.ogilvy-animation{
  animation: animationFrames linear 4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames linear 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames linear 4s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames linear 4s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames linear 4s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  71% {
    transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    transform:  translate(calc(-1vw * 35.96),-35vh)  scaleX(0.20) scaleY(0.20);
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  71% {
    -moz-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -moz-transform:  translate(calc(-1vw * 35.96),-35vh)  scaleX(0.20) scaleY(0.20) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  71% {
    -webkit-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -webkit-transform:  translate(calc(-1vw * 35.96),-35vh)  scaleX(0.20) scaleY(0.20) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  71% {
    -o-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -o-transform:  translate(calc(-1vw * 35.96),-35vh)  scaleX(0.20) scaleY(0.20) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  71% {
    -ms-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -ms-transform:  translate(calc(-1vw * 35.96),-35vh)  scaleX(0.20) scaleY(0.20) ;
  }
}