.formulario{
  .borde{
    border: 2px solid grey;
    &.is-invalid{
        color:red;
    }
    &.rounded-top-left{
      border-top-left-radius: 10px;
      @media screen and (max-width: 575px) {
        border-top-right-radius: 15px;
      }
    }
    &.rounded-top-right{
      border-top-right-radius: 10px;
      @media screen and (max-width: 575px) {
        border-top-right-radius: 0px;
      }
    }
    &.rounded-bottom-right{
      border-bottom-right-radius: 10px;
    }
    &.rounded-bottom-left{
      border-bottom-left-radius: 10px;
    }
  }
  .form-control{
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .padding-right-10{
    padding-right: 10px;
    @media screen and (max-width: 575px) {
      padding-right: 15px;
    }
  }
  .padding-left-0{
    padding-left: 0;
    @media screen and (max-width: 575px) {
      padding-left: 15px;
    }
  }
}