header{
  nav{
    box-shadow: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .nav-item{
      a{
        padding: 1.5rem 0;
        letter-spacing: 2px;
        &.active {

          transform: skew(160deg);
          background-color: red;
          color: white !important;
          &:hover{
            color: white;
          }
        }
      }
    }
    .navbar-brand{
      padding: 1.2rem 0;
    }
  }
  .list-text-bold{
    li{
      font-weight: 600;
      a{
        color: black;
        &:hover{
          color: red;
        }
      }
    }
  }
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
  }
}