.mapa{
  position: relative;
  overflow: hidden;
  &:hover{
    z-index: 9999;
    .informacion{
      opacity: 0;
      animation: cssAnimation 0s ease-in 1s forwards;
    }
  }
  .informacion{
    background: $rojo-mapa;
    position: absolute;
    padding-top:140px;
    top:0;
    width: 100%;
    height: 100%;
    padding-left: 60px;
    h2{
      font-family: nexa-black;
    }
    ul{
      padding-left: 0;
      li{
        list-style: none;
      }
    }
    transition: opacity 1s ease;
  }
}
@keyframes cssAnimation {
  to {
    z-index: -1;
  }
}