.trabajos{
  .no-padding{
    padding-right: 0;
    padding-left: 0;
  }
  .border-top-red{
    img{
      border-top: 15px solid red;
    }
  }
  .border-top-red-dark{
    img{
      border-top: 15px solid #ac0000;
    }
  }
  .sub-under{
    height: 5px;
    width: 50px;
    background: red;
  }
  .hm-red-strong .mask{
    background-color: $rojo-mapa;
  }
}
#modal-trabajo{
  background-color: $rojo-mapa;
}