$rojo-mapa:rgba(209,13,13,0.7);
@font-face {
  font-family: nexa-bold;
  src: url('assets/fonts/nexa-bold.otf')
}
@font-face {
  font-family: nexa-black;
  src: url('assets/fonts/nexa-black.otf')
}
@font-face {
  font-family: nexa-book;
  src: url('assets/fonts/nexa-book.otf')
}
*{
  font-family: nexa-bold;
}
.nexa-black{
  font-family: nexa-black;
}
.nexa-book{
  font-family: nexa-book;
}
@import "header";
@import "trabajos";
@import "clientes";
@import "informacion";
@import "formulario";
@import "banner";
@import "pie";